<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
	  <groups>
		  
		  <run>
			  <include name="properties"></include>
		  </run>
	  </groups>
	  <classes>
      
      <class name="ViewProfile"/>
      <class name="CustomOrder16889"/>
      <class name="DiagramProperties"/>
      <class name="DocsToPdf"/>
      <class name="ImageGrid"/>
      <class name="OldDocs"/>
      <class name="WorkspaceOptions"/>
      <class name="InsertedGraphics"/>
      <class name="Validatepitchcreation4176"/>
      <class name="Validatepitchcreation"/>
      <class name="ValidateLinkOptions"/>
      <class name="Validatedisplay"/>
      <class name="ValidateAgenda"/>
      <class name="InsertingCovers"/>
      <class name="RealTime"/>
      <class name="InsertingCharts"/>
                
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
